*{
    margin: 0;
    padding:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #222;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: #fff;
    margin: 100px auto;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 65px;
    border-radius: 20px;
    font-size: 18px;
    flex: 1;
    margin-right: 16px;
}
.search2{
    border: 0;
    width: 60px;
}
.search button{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 50%;
    cursor: pointer;
 }
.weather img{
    margin-top: 120px;
    border: 0;
    outline: 0;
    width: 300px;
    padding: 20px 25px;
    align-items: center;
    margin: 10px;
    margin-right: 40px;
} 
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.details{
    margin: 0px;
    display: flex;
    padding: 20px 35px;
    justify-content: space-between;
    padding: 10px 20px;
    margin-top: 60px;
    margin-left: -30px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: 20px;
}

.col img{
    border: 0;
    outline: 0;
    width: 180px;
    max-width: 65%;
    padding: 10px 25px;
    margin: auto;
    
}
.win{
    height: 120px;
}
.humidity,.wind{
    font-size: 20px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    margin-top: 60px;
    display: none;
    font-weight: 20px;
}
.error img{
    padding-bottom: 40px;
}